@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(114, 70, 70, 0.103);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(20, 2, 2);
    height: 30px;
}
/*nav bar*/
.nav-links{
    display: flex;
    justify-content: space-between;
}
.nav-links li{
    list-style: none; 

    
}
.nav-links li a {
    text-decoration:none ;
    color:#fff;
    letter-spacing: 3px;
    line-height: 30px;
    margin: 80px;
    padding: 1px 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: border,color 0.4s ease;
}
.nav-links li a:hover{
    color: crimson;
    border: 2px solid crimson;
    padding: 1px 10px;
}
/*nav bar ends*/

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*hero section*/
#hero{
    background-image: url(../img/pexels.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 26, 15, 0.658); 
    z-index: -1;
    opacity: 0.5;
}
.hero-right{
    margin-left: 50%;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    color:transparent;
    position: relative;
    animation: text-reveal 0.5s ease forwards;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation: text-reveal-name 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    left: 0;
    top:0;
    width: 0%;
    height: 100%;
    background-color: crimson;
    animation: text-reveal-box  1s ease forwards;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero .cta{
    display: inline-block;
    padding:10px 20px;
    color:crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size:1.3em;
    text-transform: uppercase;
    margin-top:20px ;
    font-weight :600 ;
    transition: .5s ease;
    transition-property :background,color;
}
#hero .cta:hover{
    color:#fff;
    background:crimson;
}

/*hero section ends*/
.divider{
    text-align: center;
    margin: 50px;
    letter-spacing: 5px;
    font-size: xx-large;
}

#collections{
    background: rgb(82, 59, 59);
    margin: 40px 40px;
}

#collections .container{
    margin: 0 auto;
    width: 80%;
    height: 50%;
    background: url(../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slider 20s ease 4s infinite;
}

/*  Grid items*/
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: lightseagreen;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }





/*keyframes*/
@keyframes text-reveal-box{
    50%{
        width: 100%;
        left:0;

    }
    100%{
        width: 0;
        left: 100%;

    }

}
@keyframes text-reveal{
    100%{
        color:#fff;
    }
}
@keyframes text-reveal-name{
    100%{
        color:crimson;
    }
}
@keyframes slider {
    0%{
        background: url(../images/img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    20%{
        background: url(../images/img2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    40%{
        background: url(../images/img3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    60%{
        background: url(../images/img4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    80%{
        background: url(../images/img5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    100%{
        background: url(../images/img6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
}